{% extends "__base.html" %}
{% load static %}
{% block title %}Log in{% endblock %}
{% block container %}
    {#    {% if messages %}#}
    {#        <ul class="messages">#}
    {#            {% for message in messages %}#}
    {#                <li class="{{ message.tags }}">#}
    {#                    {{ message|safe }}#}
    {#                </li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    {% endif %}#}
    {#    <div class="row justify-content-md-center">#}
    {#        <div class="col col-lg-2">#}
    {#        <h1></h1>#}
    {#        <form action="." method="post">#}
    {#            {{ form.as_p }}#}
    {#            {% csrf_token %}#}
    {#            <button type="submit" class="btn btn-success">Войти</button>#}
    {#        </form>#}
    {#        </div>#}
    {#    </div>#}


    <h1 class="text-center">Личная бухгалтерия</h1>

    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="{% static 'img/moneyhouse.bmp' %}" alt="">
        </div>

        <div class="col col-lg-4">
            <h3 class="my-3">Войдите в систему</h3>
            <form action="." method="post">
                <div class="control-group form-group">
                    <div class="controls">
                        <p><label for="id_username">E-mail:</label> <input type="text" class="form-control" name="username" required="" id="id_username"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <p><label for="id_password">Пароль:</label> <input type="password" class="form-control" name="password" required="" id="id_password"></p>
                    </div>
                </div>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">
                                {{ message|safe }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% csrf_token %}
                <button type="submit" class="btn btn-success">Войти</button>
            </form>
        </div>

    </div>

{#    <h3 class="my-4">Похожие проекты</h3>#}
{#    <div class="row">#}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <a href="#">#}
{#                <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#            </a>#}
{#        </div>#}
{##}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <a href="#">#}
{#                <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#            </a>#}
{#        </div>#}
{##}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <a href="#">#}
{#                <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#            </a>#}
{#        </div>#}
{##}
{#        <div class="col-md-3 col-sm-6 mb-4">#}
{#            <a href="#">#}
{#                <img class="img-fluid" src="http://placehold.it/500x300" alt="">#}
{#            </a>#}
{#        </div>#}
{#    </div>#}

{% endblock %}